@media screen and (max-width: 39.9em) {
    .container {
        width: 100%;
    }

    :host ::ng-deep .mat-form-field {
        width: 100px !important;
        font-size: 11px !important;
    }

    :host ::ng-deep .mat-focused .mat-form-field-label {
        color: #0078bd !important;
    }

    :host ::ng-deep.mat-form-field-ripple {
        background-color: #0078bd !important;
        ;
    }

    .title {
        font-size: 12px;
    }

    .box-create {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
    }

    .first-section {
        width: 20%;
    }

    .img {
        margin: 10px 0;
    }

    .select-image {
        position: relative;
        top: 10px;
    }

    .label-select {
        font-size: 7px;
        background-color: #0078bd;
        color: #fff;
        padding: 6px;
        border-radius: 3px;
        font-weight: 600;
    }

    .second-section {
        display: flex;
    }

    .fields {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .create-button {
        position: relative;
        top: 20px;
    }

    .create-button button {
        float: right;
        background-color: #0078bd;
        color: #f9f9f9;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
        font-size: 12px;
    }

    .center-section {
        display: flex;
        align-items: flex-start;
    }

    .list-offer {
        padding: 10px;
    }

    .table {
        background-color: #f9f9f9;
    }

    .mat-row .mat-cell {
        text-align: center;
        font-size: 12px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
    }

    .mat-row:hover .mat-cell {
        background-color: #e5e5e5;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    }

    .row-is-clicked {
        font-weight: bold;
    }

    .offer-description {
        margin: 10px 0;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
    }

    .selection {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .img-select img {
        width: 120px;
    }

    .selected .img-select {
        width: 120px;
    }

    .offer-title {
        display: flex;
        flex-direction: column;
    }

    .offer-section {
        display: flex;
    }

    .detail {
        padding-top: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .label {
        font-size: 14px;
        font-weight: 500;
    }

    .data {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    .actions {
        display: flex;
        align-items: center;
    }
    
    .btn-delete {
        margin-top: 10px;
    }
    
    .btn-delete button {
        float: right;
        font-size: 14px;
        outline: #ff0000 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

    .btn-edit {
        margin-top: 10px;
        margin-left: 5px;
    }

    .btn-edit button {
        float: right;
        font-size: 14px;
        outline: #0078bd auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

    .btn-cancelEdit {
        margin-top: 10px;
        margin-left: 5px;
    }

    .btn-cancelEdit button {
        float: right;
        font-size: 14px;
        outline: #ffaa00 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }
}

/* tablets */
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .container {
        width: 100%;
    }

    :host ::ng-deep .mat-form-field {
        width: 100px !important;
        font-size: 12px !important;
    }

    :host ::ng-deep .mat-focused .mat-form-field-label {
        color: #0078bd !important;
    }

    :host ::ng-deep.mat-form-field-ripple {
        background-color: #0078bd !important;
        ;
    }

    .title {
        font-size: 12px;
    }

    .box-create {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
    }

    .first-section {
        width: 20%;
    }

    .img {
        margin: 10px 0;
    }

    .label-select {
        font-size: 9px;
        background-color: #0078bd;
        color: #fff;
        padding: 6px;
        border-radius: 3px;
        font-weight: 500;
    }

    .second-section {
        display: flex;
    }

    .fields {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .create-button button {
        float: right;
        background-color: #0078bd;
        color: #f9f9f9;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
        font-size: 12px;
    }

    .center-section {
        display: flex;
        align-items: flex-start;
    }

    .list-offer {
        padding: 10px;
    }

    .table {
        background-color: #f9f9f9;
    }

    .mat-row .mat-cell {
        text-align: center;
        font-size: 12px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
    }

    .mat-row:hover .mat-cell {
        background-color: #e5e5e5;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    }

    .row-is-clicked {
        font-weight: bold;
    }

    .offer-description {
        margin: 10px 0;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
    }

    .selection {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .img-select img {
        width: 180px;
    }

    .selected .img-select {
        width: 180px;
    }

    .offer-title {
        display: flex;
        flex-direction: column;
    }

    .offer-section {
        display: flex;
    }

    .detail {
        padding-top: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .label {
        font-size: 16px;
        font-weight: 500;
    }

    .data {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 300;
    }

    .actions {
        display: flex;
        align-items: center;
    }
    
    .btn-delete {
        margin-top: 10px;
    }
    
    .btn-delete button {
        float: right;
        font-size: 14px;
        outline: #ff0000 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

    .btn-edit {
        margin-top: 10px;
        margin-left: 10px;
    }

    .btn-edit button {
        float: right;
        font-size: 14px;
        outline: #0078bd auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

    .btn-cancelEdit {
        margin-top: 10px;
        margin-left: 10px;
    }

    .btn-cancelEdit button {
        float: right;
        font-size: 14px;
        outline: #ffaa00 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

}

/* web */
@media screen and (min-width: 64em) {
    :host ::ng-deep .mat-focused .mat-form-field-label {
        color: #0078bd !important;
    }

    :host ::ng-deep.mat-form-field-ripple {
        background-color: #0078bd !important;
        ;
    }

    .box-create {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 15px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
    }

    .first-section {
        width: 20%;
    }

    .img {
        margin: 10px 0;
    }

    .label-select {
        font-size: 14px;
        background-color: #0078bd;
        color: #fff;
        padding: 6px;
        border-radius: 3px;
    }

    .second-section {
        display: flex;
    }

    .fields {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .create-button button {
        float: right;
        background-color: #0078bd;
        color: #f9f9f9;
        border: none;
        border-radius: 3px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .center-section {
        display: flex;
        align-items: flex-start;
    }

    .list-offer {
        padding: 15px;
        width: 70%;
    }

    .table {
        background-color: #f9f9f9;
        width: 100%;
    }

    .mat-row .mat-cell {
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    .mat-row:hover .mat-cell {
        background-color: #e5e5e5;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    }

    .row-is-clicked {
        font-weight: bold;
    }

    .offer-description {
        margin: 15px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.19), 1px 2px 5px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
    }

    .offer-detail {
        margin-left: 10px;
    }

    .selection {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .img-select img {
        width: 240px;
    }

    .selected .img-select {
        width: 240px;
    }

    .offer-title {
        display: flex;
        flex-direction: column;
    }

    .offer-section {
        display: flex;
    }

    .detail {
        padding-top: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .label {
        font-size: 18px;
        font-weight: 500;
    }

    .data {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 300;
    }

    
    .actions {
        display: flex;
        align-items: center;
    }
    
    .btn-delete {
        margin-top: 10px;
    }

    .btn-delete button {
        float: right;
        outline: #ff0000 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .btn-edit {
        margin-top: 10px;
        margin-left: 10px;
    }

    .btn-edit button {
        float: right;
        outline: #0078bd auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .btn-cancelEdit {
        margin-top: 10px;
        margin-left: 10px;
    }

    .btn-cancelEdit button {
        float: right;
        outline: #ffaa00 auto 2px;
        border: none;
        color: #4a4a4a;
        border: none;
        border-radius: 3px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }
}