<form (keyup.enter)="auth()">
  <div class="form-inputs">
    <input type="email" placeholder="Email" name="email" [(ngModel)]="login.email" autofocus>
    <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="login.password">
  </div>
  <div class="form-buttons">
    <a (click)="openSnackbar()">Olvidé mi contraseña</a>
    <button (click)="auth()" *ngIf="isLoading == false; else spinner">Ingresar</button>
  </div>
  <ng-template #spinner>
    <div class="spinner">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </ng-template>
  <div class="service">
    <p>¿Todavía no usas 820hd? <a (click)="openSnackbar()">Contratá el servicio</a></p>
  </div>
</form>
