<h2 mat-dialog-title>Detalles del Ticket #{{ticket.numero}}</h2>

<mat-dialog-content>
  <div class="ticket-details">
    <div class="detail-row">
      <span class="label">Estado:</span>
      <div class="indicator-status" [ngClass]="getTicketStatus(ticket).class">
        {{getTicketStatus(ticket).text}}
      </div>
    </div>

    <div class="detail-row">
      <span class="label">Fecha:</span>
      <span>{{ticket.fecha | date:'dd/MM/yyyy'}}</span>
    </div>

    <div class="detail-row">
      <span class="label">Hora:</span>
      <span>{{ticket.hora}}</span>
    </div>

    <div class="detail-row">
      <span class="label">Contacto:</span>
      <span>{{ticket.contacto}}</span>
    </div>

    <div class="detail-row">
      <span class="label">Empresa:</span>
      <span>{{ticket.nombre}}</span>
    </div>

    <div class="detail-row description">
      <span class="label">Descripción:</span>
      <p>{{ticket.descripcion}}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions> 