<ng-container *ngIf="data === 'news'; else offer">
  <div class="container">
    <div class="title">
      <span>Novedades 820HD</span>
      <button class="close" mat-button (click)="onNoClick();">&times;</button>
    </div>
    <div class="news-container">
        <div class="news-image-container">
          <img class="news-image" [src]="API_URI + '/front/news' + randomNumber + '.png'" alt="">
        </div>
    </div>
  </div>
</ng-container>

<ng-template #offer>
  <div class="container">
    <div class="title">
      <span>Detalle de la oferta</span>
      <button class="close" mat-button (click)="onNoClick();">&times;</button>
    </div>
    <div class="center">
      <div class="image-container">
        <div *ngIf="data.additional; else noimg">
          <img class="image" [src]="API_URI + '/' + data.additional" alt="">
        </div>
        <ng-template #noimg>
          <img  class="image" [src]="API_URI + '/front/no-image.png'" alt="">
        </ng-template>
      </div>
      <div class="info">
        <div class="discount">
          <span>{{data.discount}}% OFF</span>
        </div>
        <div class="name">
          <span>{{data.title}}</span>
        </div>
        <div class="description">
          <span>{{data.description}}</span>
        </div>
        <div class="price">
          <span>{{data.price | currency: '$'}}</span>
        </div>
        <div class="quantity">
          <label for="quantityInput">Cantidad:</label>
          <div class="quantity-input-container">
            <button mat-icon-button class="quantity-btn remove" (click)="decrementQuantity()" [disabled]="Number(quantity) <= 1">
              <mat-icon>remove</mat-icon>
            </button>
            <input #quantityInput
                   id="quantityInput"
                   type="number"
                   min="1"
                   [(ngModel)]="quantity"
                   placeholder="Cantidad"
                   (keypress)="validateNumber($event)">
            <button mat-icon-button class="quantity-btn add" (click)="incrementQuantity()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="send">
          <button (click)="send()">Solicitar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>